<hr />
<footer class="footer">
  <div class="container">
    <div class="ico">
      <img src="/res/cloudy.svg" />
    </div>
    Contact Us: 989*****10
    <br />
    E-Mail : deveshagarwal9271@gmail.com
  </div>
</footer>